.input_group_text {
  font-family: "Lato", sans-serif;
  background-color: #ffffff !important;
  border: 1px solid var(--primary-color) !important;
  border-right: none !important;
}

.form_control {
  border-left: none !important;
  outline: none;
  box-shadow: none;
  border-color: var(--primary-color) !important;
  font-family: "Lato", sans-serif;
}

.form_control:focus {
  box-shadow: none;
  border-color: var(--primary-color) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
